<!doctype html>
<html>
<head>
    <title>ContentDistrbutor</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<div class="header">
    <a href="/admin/signInOut">{{ if .SignedIn }}sign in{{ else }}sign out{{ end }}</a>
</div>
<div class="navigation">
    <a href="/admin/">Admin</a>
    &gt;
    <a href="/admin/editDistribution?Key={{ .Distribution.Key.Encode }}">Distribution</a>
    &gt;
    Codes
</div>

<h1>Codes</h1>
<h2>Generation Tag</h2>
<table>
    <tr>
        <th>Name</th>
        <th>IdFormat</th>
        <th>IdFrom</th>
        <th>IdTo</th>
    </tr>
{{with .DistributionGenerationTag}}
    <tr>
        <td>{{.Name}}</td>
        <td>{{.IdFormat}}</td>
        <td>{{.IdFrom}}</td>
        <td>{{.IdTo}}</td>
    </tr>
{{end}}
</table>

<h2>Codes</h2>

<a href="/admin/downloadDistributionCodes?Key={{.DistributionGenerationTag.Key.Encode}}">Download json</a>

<table>
{{ $codes := .DistributionCodes }}
{{ $files := .DistributionFiles }}
    <tr>
        <th>IdLabel</th>
        <th>Files</th>
        <th>Count</th>
        <th>Disabled</th>
    </tr>
{{ range $code := $codes }}
    <tr>
        <td>{{$code.IdLabel}}</td>
        <td>
        {{ range $file := $files }}
            <span><a href="/{{$code.Code}}/{{$file.FileName}}">{{ $file.FileName }}</a></span>
        {{ end }}
        </td>
        <td>{{$code.Count}}</td>
        <td>
            {{.Disabled}}
            <form style="display: inline" method="post" action="/admin/toggleDistributionCode">
                <input type="hidden" name="Disable" value="{{if .Disabled}}true{{else}}false{{end}}">
                <input type="submit" value="Toggle">
            </form>
        </td>
    </tr>
{{end}}
</table>

</body>
</html>
