<!doctype html>
<html>
<head>
    <title>ContentDistrbutor</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<div class="header">
    <a href="/admin/signInOut">{{ if .SignedIn }}sign out{{ else }}sign in{{ end }}</a>
</div>

<h1>ContentDistrbutor editDistribution</h1>

<h2>Basic info</h2>
{{ $firebaseConfig := .FirebaseConfig }}
{{ with .Distribution }}
<form method="post" action="/admin/editDistribution">
    <input type="hidden" name="Key" value="{{if .Key}}{{.Key.Encode}}{{end}}">
    <ul>
        <li>Title: <input type="text" name="Title" value="{{.Title}}"></li>
        <li>ExpiredAt: <input type="date" name="ExpiredAt" value="{{.ExpiredAt.Format "2006-01-02"}}"></li>
        <li>RealExpiredAt: <input type="date" name="RealExpiredAt" value="{{.RealExpiredAt.Format "2006-01-02"}}"></li>
        <li>CoverImageUrl: <input type="text" name="CoverImageUrl" value="{{.CoverImageUrl}}"></li>
    </ul>
    <input type="submit" value="submit"/>
</form>
{{ end }}

{{if .Distribution.Key}}
<h2>Files</h2>
<ul>
{{ range .DistributionFiles }}
    <li>
        <a href="{{.Url}}">{{.FileName}}</a>
        <form style="display: inline" method="post" action="/admin/deleteDistributionFile">
            <input type="hidden" name="Key" value="{{.Key.Encode}}">
            <input type="submit" value="Delete">
        </form>
    </li>
{{end}}
</ul>
<a href="https://console.cloud.google.com/storage/browser/{{$firebaseConfig.StorageBucket}}/o/{{.Distribution.Key.Encode}}/?project={{$firebaseConfig.StorageBucket}}">Open in Google Storage</a>

<h2>Upload new file</h2>
<form method="post" action="/admin/addDistributionFile" enctype="multipart/form-data">
    <input type="hidden" name="Key" value="{{if .Distribution.Key}}{{.Distribution.Key.Encode}}{{end}}">
    <ul>
        <li>FileName: <input type="text" name="FileName"></li>
        <li>File: <input type="file" name="File"></li>
    </ul>
    <input type="submit" value="submit"/>
</form>

<h2>Codes</h2>
<a href="/admin/editDistributionCodes?Key={{if .Distribution.Key}}{{.Distribution.Key.Encode}}{{end}}">Edit Codes</a>
{{end}}

</body>
</html>
