<!doctype html>
<html>
<head>
    <title>ContentDistrbutor</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<div class="header">
    <a href="/admin/signInOut">{{ if .SignedIn }}sign in{{ else }}sign out{{ end }}</a>
</div>

<h1>ContentDistrbutor</h1>

{{ range .Distributions }}
<ul>
    <li>{{ .Key.Encode }}</li>
    <li>{{ .Title }}</li>
    <li>{{ .ExpiredAt.Format "2006-01-02" }}</li>
    <li>{{ .RealExpiredAt.Format "2006-01-02" }}</li>
    <li>{{ .CoverImageURL }}</li>

</ul>
{{ end }}

<a href="/admin/editDistribution">Create Distribution</a>

</body>
</html>
