<!doctype html>
<html>
<head>
    <title>ContentDistributor Admin</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/2.6.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.6.2/firebaseui.css"/>

    <script>
        // Initialize Firebase
        var config = {{ .FirebaseConfig }};
        firebase.initializeApp(config);
    </script>
    <script src="/static/signInOut.js"></script>
</head>
<body>

<h1>ContentDistributor Admin</h1>

{{with .Notice}}<div id="notice">{{.}}</div>{{end}}

{{define "displayIfSignedIn"}}{{ if .SignedIn }}block{{ else }}none{{ end }}{{end}}
{{define "displayIfNotSignedIn"}}{{ if .SignedIn }}none{{ else }}block{{ end }}{{end}}
{{define "trueIfSignedIn"}}{{ if .SignedIn }}true{{ else }}false{{ end }}{{end}}
{{define "trueIfNotSignedIn"}}{{ if .SignedIn }}false{{ else }}true{{ end }}{{end}}

<div id="firebaseui-auth-container"></div>
<div id="sign-in"></div>

<span id="account-details"></span>

<div style="display: {{template "displayIfSignedIn" .}}">
    <button id="sign-out">Sign Out</button>
</div>
<form id="signOut-form" enctype="multipart/form-data" action="/admin/signOut" method="post" hidden="true" data-enabled="{{template "trueIfSignedIn" .}}">
</form>
<form id="signIn-form" enctype="multipart/form-data" action="/admin/signIn" method="post" hidden="true" data-enabled="{{template "trueIfNotSignedIn" .}}">
    <input type="hidden" name="token" id="token">
</form>

</body>
</html>
