{
  "apiKey": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXx",
  "authDomain": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXx.firebaseapp.com",
  "databaseURL": "https://XXXXXXXXXXXXXXXXXXXXXXXXXXXXXx.firebaseio.com",
  "projectId": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXx",
  "storageBucket": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXx.appspot.com",
  "messagingSenderId": "XXXXXXXXXXXX"
}
